@{
	ViewData["Title"] = "Countries";
}

<MetadataPage />

@section Scripts
{
	<script src="~/themes/gear/js/components/pageOptionsbar.js"></script>
	<script src="~/themes/gear/js/components/table/table.js"></script>
	<script src="~/themes/gear/js/components/modal.js"></script>
	<script src="~/themes/gear/js/components/textBlock.js"></script>
	<script src="~/themes/gear/js/components//form-controls/radioInput.js"></script>
	<script src="~/themes/gear/js/components/form-controls/textarea.js"></script>
	<script src="~/themes/gear/js/components/form-controls/datepicker.js"></script>
	<script src="~/themes/gear/js/components/form-controls/input.js"></script>
	<script src="~/themes/gear/js/components/form-controls/file.js"></script>
	<script src="~/themes/gear/js/components/form-controls/select.js"></script>
	<script>
		Vue.component('MetadataPage', {
			template: `
						<div>
							<PageOptionsBar :searcheable="true" :pageOptionsComponents="pageOptionsComponents" @@searchInput="searchTable"/>
							<div>
								<Table
									v-if="dataLoad"
									:fields="tableFields"
									:apiUrl="apiUrl"
									:httpMethod="httpMethod"
									@@triggeredMenuAction="action"
									tableId="workCategories-table"
									:customQueryparams="customQueryparams"
									:changeUrl="true"
									:controller="'/location/countries'"
									:pageChange="pageChange"
									:hasCustomQUeryparams="true"
									:initialPageSize="20"
									:reload="tableKey"
									:sortOrder="tableConfig.sortCol"
									dataPath="result.result"
									:actionsSingle="tableActions.single"
								:actionsSingleDisabled="tableActions.singleDisabled"
								:actionsMultiple="tableActions.multiple"
								:actionsMultipleDisabled="tableActions.multipleDisabled"
								:haveContextMenu="true"
								>
								</Table>
							</div>
							<Modal :refreshInputs="refreshInputs" :modalProps="modalProps" @@newValue="emitModalValue" :inputsKey="modalKey"/>
						</div>`
			,
			data() {
				return {
					modalKey: 0,
					apiUrl: apiEndpoints.Location.GetAllPaginatedCountries,
					httpMethod: 'get',
					dataLoad: false,
					modalValues: {},
					pageChange: 0,
					pageOptionsComponents: [
						{
							name: 'Button',
							props: {
								label: 'Add country',
								btnType: 'success',
								className: 'ml-auto',
								onClick: () => {
									this.editableModal = false;
									this.resetModalValues();
									this.modalKey++;
									$(`#${this.modalProps.id}`).modal("show");
								}
							}
						}
					],
					tableActions: {
						single: {
							"edit": { name: t('edit'), icon: "edit" },
							"delete": { name: t('delete'), icon: "delete" }
						},
						singleDisabled: {
							"delete": { name: t('delete'), icon: "delete" }
						}
					},
					tableKey: 0,
					waitAddButton: false,
					editableModal: false,
					refreshInputs: 0,
					searchString: '',
					tableFields: [
						{
							name: 'code3',
							title: t('system_country_code'),
							visible: true
						},
						{
							name: 'name',
							title: t('system_country_name'),
							visible: true,
							sortField: 'name'
						},
					],
					tableConfig: {
						currentPage: 0,
						pageSize: 20,
						rowCount: 0,
						sortCol: [
							{
								field: 'name',
								sortField: 'Name',
								direction: 'asc'
							}
						]
					}
				}
			},
			computed: {
				customQueryparams() {
					return {
						'includeDeleted': true,
						'gSearch': this.searchString
					}
				},
				modalProps() {
					return {
						id: 'countryModal',
						label: this.editableModal ? 'Edit country' : 'Add country',
						formInputs: [
							{
								name: 'Input',
								props: {
									id: 'entity-id',
									type: 'text',
									label: 'Id',
									required: true,
									className: 'col-12 col-md-4',
									value: this.modalValues.id
								}
							},
							{
								name: 'Input',
								props: {
									id: 'entity-name',
									type: 'text',
									label: t('system_country_name'),
									required: true,
									className: 'col-12 col-md-4',
									value: this.modalValues.name,
								}
							},
							{
								name: 'Input',
								props: {
									id: 'entity-code3',
									type: 'text',
									label: t('system_country_code'),
									required: true,
									className: 'col-12 col-md-4',
									value: this.modalValues.code3
								}
							},
						],
						formSubmits: [
							{
								name: 'Button',
								props: {
									label: '@Localizer["cancel"]',
									btnType: 'outline-secondary',
									onClick: () => {
										$(`#${this.modalProps.id}`).modal("hide");
									}
								}
							},
							{
								name: 'Button',
								props: {
									label: '@Localizer["save"]',
									btnType: 'success',
									waiting: this.waitAddButton,
									btnDOMType: 'submit'
								}
							}
						],
						onSubmit: () => {
							if (!this.editableModal) {
								this.addNewEntity().then(() => {
									$(`#${this.modalProps.id}`).modal("hide");
								});
							} else {
								this.updateEntity().then(() => {
									$(`#${this.modalProps.id}`).modal("hide");
								});
							}
						}
					}
				},
			},
			created: async function () {
				this.dataLoad = true;
			},
			methods: {
				async addNewEntity() {
					console.log(this.modalValues, 'addEntity');
					this.waitAddButton = true;
					return new Promise((resolve, reject) => {
						customAjaxRequest(apiEndpoints.Location.AddNewCountry, 'PUT', this.modalValues).then(() => {
							this.tableKey++;
							resolve(true);
						}).catch(e => {
							toast.notifyErrorList(e);
							reject(false);
						}).finally(() => {
							this.waitAddButton = false;
						});
					});
				},
				async updateEntity() {
					this.waitAddButton = true;
					return new Promise((resolve, reject) => {
						customAjaxRequest(apiEndpoints.Location.UpdateCountry, 'POST', this.modalValues).then(() => {
							this.tableKey++;
							resolve(true);
						}).catch(e => {
							toast.notifyErrorList(e);
							reject(false);
						}).finally(() => {
							this.waitAddButton = false;
						});
					});
				},
				@*async deactivateEntities(array) {
					array.forEach((entityId, i, a) => {
						customAjaxRequest(apiEndpoints.Location.DisableCountry, 'POST', { countryId: entityId }).then(() => {
							if (i === a.length - 1) {
								this.tableKey++;
							}
						}).catch(e => {
							toast.notifyErrorList(e);
						});
					});
				},
				async activateEntities(array) {
					array.forEach((entityId, i, a) => {
						customAjaxRequest(apiEndpoints.Location.ActivateCountry, 'POST', { countryId: entityId }).then(() => {
							if (i === a.length - 1) {
								this.tableKey++;
							}
						}).catch(e => {
							toast.notifyErrorList(e);
						});
					});
				},*@
				async deleteEntities(array) {
					array.forEach((entityId, i, a) => {
						customAjaxRequest(apiEndpoints.Location.DeleteCountry, 'DELETE', { countryId: entityId }).then(() => {
							if (i === a.length - 1) {
								this.tableKey++;
							}
						}).catch(e => {
							toast.notifyErrorList(e);
						});
					});
				},
				async loadEntity(entityId) {
					return new Promise((resolve, reject) => {
						customAjaxRequest(apiEndpoints.Location.GetCountryById, 'GET', { countryId: entityId }).then(result => {
							resolve(result);
						}).catch(e => {
							toast.notifyErrorList(e);
						});
					});
				},
				convertToSelectList(array) {
					if (array.length === 0) return [];
					return array.map(e => {
						const newObj = {
							label: e.name,
							value: e.id
						}
						return newObj;
					});
				},
				editEntity(entityId) {
					this.loadEntity(entityId).then(result => {
						this.editableModal = true;
						this.modalValues = result;
						this.modalKey++;
						this.refreshInputs++;
						$(`#${this.modalProps.id}`).modal("show");
					});
				},
				resetModalValues() {
					this.modalValues = {
						name: null,
						code3: null,
						id: null
					}
				},
				emitModalValue(val) {
					const newVal = val.value === 'true' ? true : val.value === 'false' ? false : val.value;
					this.modalValues[val.id.replace('entity-', '')] = newVal;
				},
				action(action) {
					switch (action.key) {
						case 'edit': {
							this.editEntity(action.value[0]);
							break;
						} case 'delete': {
							this.deleteEntities(action.value);
							break;
						}
					}
				},
				searchTable(val) {
					if (val.length > 2) {
						this.searchString = val;
						this.tableKey++;
					} else if (val === '') {
						this.searchString = '';
						this.tableKey++;
					}
				}
			},
			mounted() {
				window.addEventListener('popstate', (event) => {
					this.pageChange++;
				});
			},
		});

	</script>
}
