<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div style="margin: 0 auto; width: 100%;max-width: 600px;">
        <div style="width: 500px; height: 4px; background-color: #900090; margin: 0 auto"></div>
        <table style="
        background-color: white;
        font-size:14px;
        color: #254258;
        font-family: Arial;
        padding-left: 40px;
        padding-right: 40px;">
            <tr>
                <td style="height: 30px;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <img width="200" height="54" src="https://www.drupal.org/files/styles/grid-3/public/Indrivo_0.png?itok=hedjPAEC" alt="iso-logo" border="0">
                </td>
            </tr>
            <tr>
                <td style="height: 30px;"></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size: 25px; font-weight: bold; color: #000000">
                    {Header}
                </td>
            </tr>
            <tr>
                <td style="height: 10px;"></td>
            </tr>
            <tr>
                <td style=" font-size: 18px;">
                    <p>
                        {Body}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>